@using studentprojectMVC.TagHelpers
@using Microsoft.AspNetCore.Razor.TagHelpers;
@addTagHelper studentprojectMVC.TagHelpers.*, studentprojectMVC
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Click below to contact us:</h1>
<email address="charles.white@student.ehb.be" content="Click here"></email>