<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <location>
  <!--<location path="." inheritInChildApplications="false">-->
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https: /go.microsoft.com/fwlink/?linkid=838655 -->
  
  <system.webServer>
    <!--Block Track and Trace=> Source:  https: /blog.elmah.io/the-ultimate-guide-to-secure-cookies-with-web-config-in-net/-->
    <security>
      <requestFiltering removeServerHeader="true" >
        <verbs>
          <add verb="TRACE" allowed="false"/>
          <add verb="TRACK" allowed="false"/>
        </verbs>
      </requestFiltering>
    </security>
 <handlers>
      <!--<remove name="aspNetCore" />-->
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\studentprojectMVC.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout">
      <!--<environmentVariables>
        <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="443" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
      </environmentVariables>-->
    </aspNetCore>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="Permissions-Policy" value="accelerometer=(); camera=(); geolocation=(); gyroscope=(); magnetometer=(); microphone=(); payment=(); usb=()" />
        <!--<add name="Permissions-Policy" value="accelerometer 'none'; camera 'none'; geolocation 'none'; gyroscope 'none'; magnetometer 'none'; microphone=(); payment 'none'; usb 'none'" />-->
        <!--<add name="X-Frame-Options" value="SAMEORIGIN" />-->
        <!--add name="Strict-Transport-Security" value=" max-age=31536000; includeSubdomains; preload " ==> causes HTTPS over HTTP /-->
      </customHeaders>
    </httpProtocol>
    
    
    <rewrite>
    <outboundRules>
      <!--Securing Cookies Source: https:/blog.elmah.io/the-ultimate-guide-to-secure-cookies-with-web-config-in-net/ -->
      <clear />
      <rule name="Add SameSite" preCondition="No SameSite">
        <match serverVariable="RESPONSE_Set_Cookie" pattern=".*" negate="false" />
        <action type="Rewrite" value="{R:0}; SameSite=lax" />
      </rule>
      <preConditions>
        <preCondition name="No SameSite">
          <add input="{RESPONSE_Set_Cookie}" pattern="." />
          <add input="{RESPONSE_Set_Cookie}" pattern="; SameSite=lax" negate="true" />
        </preCondition>
      </preConditions>
      <!-- force https Source: https: /my.combell.com/nl/product/webhosting/windows/ssl/studentproject_be/hostname/studentproject_be -->
      <!--<rule name="Redirect to http" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
        <match url="*" negate="false"/>
        <conditions logicalGrouping="MatchAny">
          <add input="{HTTPS}" pattern="off" />
        </conditions>
        <action type="Redirect" url="https://{HTTP_HOST} {REQUEST_URI}" redirectType="Found" />
      </rule>-->
      <!-- Source of rewrite code below: https:/ tomssl.com/how-to-fix-the-http-response-headers-on-azure-web-apps-to-get-an-a-plus-on-securityheaders-io/ -->
        <rule name="Add Strict-Transport-Security only when using HTTPS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000; includeSubdomains; preload" />
        </rule>
        
        <rule name="CSP">
          <match serverVariable="RESPONSE_Content-Security-Policy" pattern=".*" />
          <action type="Rewrite" value="style-src 'self'; frame-src 'self'; frame-ancestors 'self'; upgrade-insecure-requests" />
        </rule>
        
    <!-- Permissions-Policy rules mirrored after preceding code --><!--
        <rule name="Permissions">
          <match serverVariable="RESPONSE_Permissions-Policy" pattern=".*" />
          <action type="Rewrite" value="fullscreen=(); geolocation=()" />
        </rule>-->
        
        <rule name="Referrer">
          <match serverVariable="RESPONSE_Referrer-Policy" pattern=".*" />
          <action type="Rewrite" value="same-origin" />
        </rule>
        <rule name="ContentTypeOptions">
          <match serverVariable="RESPONSE_X-Content-Type-Options" pattern=".*" />
          <action type="Rewrite" value="nosniff" />
        </rule>
    </outboundRules>
    </rewrite>
    <!-- End of rewrite code - values added via report-uri.com/home/generate -->
    <!--<security>
      <requestFiltering removeServerHeader="true" />
    </security>-->
  </system.webServer>
  
  <system.web>
    <httpRuntime enableVersionHeader="false" />
    <!--Secure Cookies => Source: https:/ blog.elmah.io/the-ultimate-guide-to-secure-cookies-with-web-config-in-net/ -->
    <httpCookies httpOnlyCookies="true" requireSSL="true"/>
  </system.web>
  </location>

</configuration>
