@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeatureFlag = Context.Features.Get<ITrackingConsentFeature>();
    var showBannerFlag = !consentFeatureFlag?.CanTrack ?? false;
    var cookieString = consentFeatureFlag?.CreateConsentCookie();
}

@if (showBannerFlag)
{
    <div id="cookieConsentdiv" class="alert alert-info alert-dismissible fade show" role="alert">
        @*required classes*@
        &copy; 2021 - Charles D. White - Please read my project website privacy policy <a asp-controller="Home" asp-action="Privacy">Learn More</a>.  @*asp-page="/Home/Privacy"*@
        <button type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
            <span aria-hidden="true">I Accept the Privacy Policy</span>
        </button>
    </div>
    @*<script type="text/javascript">
            $(document).ready(function () {
                $("#cookieConsentdiv button[data-cookie-string]").bind("click", function () {
                    document.cookie = $("#cookieConsentdiv button").attr("data-cookie-string");
                    $("#cookieConsentdiv").hide();
                });
            });
        </script>*@
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>


}
@*NEW VERSION*@
@*@using Microsoft.AspNetCore.Http.Features

    @{
        var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
        var showBanner = !consentFeature?.CanTrack ?? false;
        var cookieString = consentFeature?.CreateConsentCookie();
    }

    @if (showBanner)
    {
        <div id="cookieConsent" class="alert alert-info alert-dismissible fade show" role="alert">
            Use this space to summarize your privacy and cookie use policy. <a asp-page="/Privacy">Learn More</a>.
            <button type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
                <span aria-hidden="true">Accept</span>
            </button>
        </div>
        <script>
            (function () {
                var button = document.querySelector("#cookieConsent button[data-cookie-string]");
                button.addEventListener("click", function (event) {
                    document.cookie = button.dataset.cookieString;
                }, false);
            })();
        </script>
    }*@
@*NEW VERSION*@

@*@using Microsoft.AspNetCore.Http.Features

    @{
        var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
        var showBanner = !consentFeature?.CanTrack ?? false;
        var cookieString = consentFeature?.CreateConsentCookie();
    }

    @if (showBanner)
    {
        <nav id="cookieConsent" class="navbar navbar-default navbar-fixed-top" role="alert">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#cookieConsent .navbar-collapse">
                        <span class="sr-only">Toggle cookie consent banner</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></span>
                </div>
                <div class="collapse navbar-collapse">
                    <p class="navbar-text">
                        Use this space to summarize your privacy and cookie use policy.
                    </p>
                    <div class="navbar-right">
                        <a asp-page="/Privacy" class="btn btn-info navbar-btn">Learn More</a>
                        <button type="button" class="btn btn-default navbar-btn" data-cookie-string="@cookieString">Accept</button>
                    </div>
                </div>
            </div>
        </nav>
        <script>
            (function () {
                document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                    document.cookie = el.target.dataset.cookieString;
                    document.querySelector("#cookieConsent").classList.add("hidden");
                }, false);
            })();
        </script>
    }*@